PUBLIC_SITE_URL=https://shop.davilanco.com
PUBLIC_STORE_NAME=Davilanco Store
ALLOWED_IMPORT_HOSTS=
SESSION_COOKIE_NAME=davilanco_session
SESSION_TTL_DAYS=30
EMAIL_FROM=no-reply@shop.davilanco.com
RESEND_API_KEY=rQZsHOUcH4r2oUJXWbAK4sKSQFULxWLM
PAYSTACK_SECRET_KEY=sk_live_e610d0f6832c3a6251ec9bdc596ca7fb9a000141
FLUTTERWAVE_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=sandbox
SMS_PROVIDER_URL=
SMS_PROVIDER_TOKEN=
ADMIN_BOOTSTRAP_SECRET=secretadmin
